h3 {
    color: #198754;
}


.modal-backdrop {
  z-index: 1055;
}
.bi-info-circle-fill {
  color: #0dcaf0;
}
.bi-check-circle-fill {
  color: #198754;
}
.bi-exclamation-triangle-fill {
  color: #ffc107;
}
.bi-x-octagon-fill {
  color: #dc3545;
}
